[submodule "modules/MARL-Papers"]
	path = modules/MARL-Papers
	url = https://github.com/LantaoYu/MARL-Papers.git
[submodule "modules/neurips2020-flatland-starter-kit"]
	path = modules/neurips2020-flatland-starter-kit
	url = http://gitlab.aicrowd.com/flatland/neurips2020-flatland-starter-kit.git
